@{
    Layout = "Layout";
    ViewData["Title"] = "Planificateur";
}

<div class="center">
    
    <div class="box">
        <h1 class="title">Welcome to Planificateur !</h1>

        <a href="/polls/create">
            <button type="button" class="button is-primary ignore-dark-theme">Create a poll</button>
        </a>
    </div>
</div>