@{
    Layout = "Layout";
    ViewData["Title"] = "Create Poll";
}

<div class="center">
    <form action="/polls/create" method="post" class="box">
        <h1 class="title">Create Poll</h1>

        @if (ViewBag.Errors is not null)
        {
            <div class="notification is-danger">
                <ul>


                    @foreach (var message in ViewBag.Errors)
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
        }

        <input type="hidden" name="timezone" id="timezone">

        <div class="field">
            <label class="label">Poll Name : </label>
            <div class="control">
                <input class="input" type="text" name="name"/>
            </div>
        </div>

        <div id="dates" style="max-height: 60vh; overflow-y: auto; overflow-x: hidden">
            <div class="field mb-1">
                <label class="label">Poll Dates : </label>
                <div class="control">
                    <input id="first-date" class="input" type="datetime-local" name="dates[]"/>
                </div>
            </div>
        </div>

        <br/>


        <button type="button" id="add-date" onclick="addDate()" class="button">Add date</button>
        <button type="submit" id="create" class="button is-primary ignore-dark-theme">Create</button>

        <br/>
        <br/>

        <details>
            <summary>Add Date Range</summary>

            <div class="field">
                <label class="label">Start Date : </label>
                <div class="control">
                    <input class="input" type="date" id="range-start-date"/>
                </div>
            </div>
            <div class="field">
                <label class="label">End Date : </label>
                <div class="control">
                    <input class="input" type="date" id="range-end-date"/>
                </div>
            </div>
            <div class="field">
                <label class="label">Time : </label>
                <div class="control">
                    <input class="input" type="time" id="range-time" value="12:00"/>
                </div>
            </div>
            <button type="button" id="add-date-range" onclick="addDateRange()" class="button">Add date range</button>

        </details>

    </form>

</div>

<script>
document.addEventListener("DOMContentLoaded", fillTimezoneInForm);
</script>